<div class="table-container">
    <div class="header">
        <div class="header-part">
            <div>
                <h1>Warranty & Annual Maintenance Contract Table</h1>
                <p>The analysis list here shows all users</p>
            </div>

            <div class="notification-part">
                <div class="active-box">
                    <div class=""></div>
                    <span>{{activeWarranties}} Active Warranties</span>
                </div>
                <div class="notification">
                    <i class="pi pi-bell"></i>
                </div>
            </div>
        </div>
        <div class="header-actions">
            <div class="action-part">
                <div class="filter" (click)="toggleFilterDropdown($event)">
                    <i class="pi pi-filter"></i>
                    <ul class="menu-list" *ngIf="dropdownVisible">
                        <li class="list" *ngFor="let option of filterOption"
                            (click)="selectFilter(option.value, $event)"
                            [class.active]="selectedFilter === option.value">
                            {{ option.label }}
                        </li>
                    </ul>

                </div>

                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="Search" [(ngModel)]="searchTerm"
                        (input)="applyFilter()" />
                </p-iconfield>

                <div class="filter-clear" *ngIf="isFilterActive" (click)="clearFilter()">
                    <i class="pi pi-filter-slash"></i>
                </div>
            </div>


            <div class="pagination-bar">
                <div class="line"></div>
                <button class="button" (click)="refresh()">
                    <i class="pi pi-refresh"></i>
                </button>

                <span class="page-num">{{currentPage}} of {{totalPages}}</span>

                <button class="button" (click)="prevPage()" [disabled]="currentPage <= 1">
                    <i class="pi pi-chevron-left"></i>
                </button>

                <button class="button" (click)="nextPage()" [disabled]="currentPage >= totalPages">
                    <i class="pi pi-chevron-right"></i>
                </button>
            </div>

        </div>
    </div>

    <div class="table-container">
        <p-table [value]="warrantyAssets" [rows]="rowsPerPage">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>No</th>
                    <th>Asset ID</th>
                    <th>Asset Name</th>
                    <th>WSD</th>
                    <th>WED</th>
                    <th>AMC Start</th>
                    <th>AMC End</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-warranty let-i="rowIndex">
                <tr>
                    <td>
                        <span class="dot" [ngStyle]="{ 'background-color': getWarrantyStatus(warranty) }"></span>
                    </td>
                    <td>
                        {{(currentPage-1) * rowsPerPage + i + 1 }}
                    </td>
                    <td>{{ warranty.asset.assetId }}</td>
                    <td>{{ warranty.asset.assetName }}</td>
                    <td>{{ warranty.warrantyStart | date:'dd-MM-yyyy' }}</td>
                    <td>{{ warranty.warrantyEnd  | date:'dd-MM-yyyy'}}</td>
                    <td>{{ warranty.amcStart  | date:'dd-MM-yyyy' }}</td>
                    <td>{{ warranty.amcEnd  | date:'dd-MM-yyyy'}}</td>
                    <td>
                        <button pButton type="button" label="View" class="view-btn" (click)="viewWarranty(warranty.asset.assetId)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>