<div class="warranty-form-container">
    <div class="header-part">
        <h1>Warranty & Annual Maintenance Contract Form</h1>
        <p>The form to create/update warranty and amc</p>
        <hr class="underline">
    </div>

    <div class="notification">
        <i class="pi pi-bell"></i>
    </div>

    <form #warrantyForm='ngForm' (ngSubmit)="onSubmit(warrantyForm)">
        <div class="form-content">
            <div class="form-part">
                <div class="column-one">
                    <p-floatlabel variant="on" class="half-width">
                        <p-select [(ngModel)]="selectedIsUnderWarranty" #underwarrantyCtrl="ngModel"
                            [ngClass]="{'ng-invalid': invaild(underwarrantyCtrl)}" required name="isUnderWarranty"
                            [options]="isunderwarranty" optionLabel="name" class="w-full md:w-56"></p-select>
                        <label for="on_label">Under Warranty</label>
                        <div class="error-msg" *ngIf="showError(underwarrantyCtrl)">Under Warranty is required</div>
                    </p-floatlabel>
                    <p-floatlabel variant="on" class="half-width">
                        <p-select [(ngModel)]="selectedAmcActive" #amcActiveCtrl="ngModel"
                            [ngClass]="{'ng-invalid': invaild(amcActiveCtrl)}" required name="amcActive"
                            [options]="amcactive" optionLabel="name" class="w-full md:w-56"></p-select>
                        <label for="on_label">AMC Status</label>
                        <div class="error-msg" *ngIf="showError(amcActiveCtrl)">AMC Active is required</div>
                    </p-floatlabel>
                </div>

                <div class="column-one" *ngIf="selectedIsUnderWarranty?.value=== true">
                    <p-floatlabel variant="on" class="half-width">
                        <p-datepicker dateFormat="dd.mm.yy" name="warrantyStart" [(ngModel)]="warranty.warrantyStart"
                            #warrantyStartCtrl="ngModel" required [ngClass]="{'ng-invalid': invaild(warrantyStartCtrl)}"
                            [showIcon]="true" />
                        <label for="on_label">Warranty Start Date</label>
                        <div class="error-msg" *ngIf="showError(warrantyStartCtrl)">Warranty Start Date is required
                        </div>
                    </p-floatlabel>
                    <p-floatlabel variant="on" class="half-width">
                        <p-datepicker dateFormat="dd.mm.yy" name="warrantyEnd" [(ngModel)]="warranty.warrantyEnd"
                            required #warrantyEndCtrl="ngModel" [ngClass]="{'ng-invalid': invaild(warrantyEndCtrl)}"
                            [showIcon]="true" />
                        <label for="on_label">Warranty End Date</label>
                        <div class="error-msg" *ngIf="showError(warrantyEndCtrl)">Warranty End Date is required
                        </div>
                    </p-floatlabel>
                </div>

                <ng-container *ngIf="selectedAmcActive?.value === true">
                    <div class="">
                        <p-floatlabel variant="on" class="full-width">
                            <input pInputText id="on_label" name="amcVendor" [(ngModel)]="warranty.amcVendor" required
                                #amcVendorCtrl="ngModel" [ngClass]="{'ng-invalid': invaild(amcVendorCtrl)}"
                                autocomplete="off" />
                            <label for="on_label">AMC Vendor Name</label>
                            <div class="error-msg" *ngIf="showError(amcVendorCtrl)">AMC Vendor Name is required</div>
                        </p-floatlabel>
                    </div>

                    <div class="column-one">
                        <p-floatlabel variant="on" class="half-width">
                            <p-datepicker dateFormat="dd.mm.yy" name="amcStart" [(ngModel)]="warranty.amcStart" required
                                #amcStartCtrl="ngModel" [ngClass]="{'ng-invalid': invaild(amcStartCtrl)}"
                                [showIcon]="true" />
                            <label for="on_label">AMC Start Date</label>
                            <div class="error-msg" *ngIf="showError(amcStartCtrl)">AMC Start Date is required</div>
                        </p-floatlabel>
                        <p-floatlabel variant="on" class="half-width">
                            <p-datepicker dateFormat="dd.mm.yy" name="amcEnd" [(ngModel)]="warranty.amcEnd" required
                                #amcEndCtrl="ngModel" [ngClass]="{'ng-invalid': invaild(amcEndCtrl)}"
                                [showIcon]="true" />
                            <label for="on_label">AMC End Date</label>
                            <div class="error-msg" *ngIf="showError(amcEndCtrl)">AMC End Date is required</div>
                        </p-floatlabel>
                    </div>

                    <div class="column-one">
                        <p-floatlabel variant="on" class="half-width">
                            <input pInputText type="number" [(ngModel)]="warranty.amcVisitsDue" name="amcVisitsDue"
                                #amcVisitsDueCtrl="ngModel" [ngClass]="{'ng-invalid': invaild(amcVisitsDueCtrl)}"
                                (ngModelChange)="calculateNextVisitDue()" />
                            <label for="amcVisitsDue">AMC Visit Due(ex: 3 months)</label>
                            <div class="error-msg" *ngIf="showError(amcVisitsDueCtrl)">AMC Visit Due is required</div>
                        </p-floatlabel>

                        <p-floatlabel variant="on" class="half-width">
                            <p-datepicker dateFormat="dd.mm.yy" name="nextVisitDue" [(ngModel)]="warranty.nextVisitDue"
                                required #nextVisitDueCtrl="ngModel"
                                [ngClass]="{'ng-invalid':invaild(nextVisitDueCtrl)}" [showIcon]="true"
                                [readonlyInput]="true" />
                            <label for="on_label">Next Visit Date</label>
                            <div class="error-msg" *ngIf="showError(nextVisitDueCtrl)">Next Visit Date is required
                            </div>
                        </p-floatlabel>

                    </div>

                </ng-container>

                <div class="maintenance-form p-fluid"  *ngIf="warranty.id">
                    <div class="header">
                        <h3 class="section-title">Service Update's</h3> 
                        <hr class="divider">
                    </div>

                    <form [formGroup]="form">
                        <div class="column-one">
                            <p-floatlabel variant="on" class="half-width">
                                <p-datepicker dateFormat="dd.mm.yy" formControlName="serviceDate" [showIcon]="true"
                                    (ngModelChange)="calculateNextVisitDue()" />
                                <label for="on_label">Last Service Date</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on" class="half-width">
                                <input pInputText id="on_label" formControlName="performedBy" autocomplete="off" />
                                <label for="on_label">Service Performed by</label>
                            </p-floatlabel>
                        </div>

                        <div style="margin: 20px 0;">
                            <p-floatlabel variant="on">
                                <textarea pTextarea id="remarks" formControlName="remarks" rows="5" cols="30" class="w-full h-full textarea" style="width: 100%; resize: none;"></textarea>
                                <label  for="on_label">Remarks</label>
                            </p-floatlabel>
                        </div>

                       <div class="drag-drop-container">
                        <app-drag-and-drop (fileSelected)="onFilesSelected($event)"></app-drag-and-drop>
                       </div>

                    </form>



                </div>




            </div>

            <div class="form-profile">
                <div class="profile">
                    <div class="profile-img" [ngClass]="warrantyStatusClass">
                        <img [src]="assetDetails?.assetPhoto" alt="">

                    </div>
                    <div class="">
                        <p-floatlabel variant="on" class="half-width">
                            <input pInputText id="on_label" [(ngModel)]="warrantyStatus" name="status" [readOnly]="true" autocomplete="off" />
                            <label for="on_label"> Warranty Status</label>
                        </p-floatlabel>
                    </div>
                </div>
                <div class="btns">
                    <button pButton label="Save" [label]="isLoading ? 'Loading...' : (isEditMode ? 'Update' : 'Save')"
                        [disabled]="isLoading" class="save-btn"></button>
                    <button pButton label="Clear" class="clear-btn" severity="danger" outlined
                        (click)="onClear()"></button>
                </div>
            </div>
        </div>
    </form>

    <div style="margin-bottom: 40px;" *ngIf="warranty.id">
        <div class="header">
            <h3 class="section-title">AMC Service History</h3> 
            <hr class="divider">
        </div>
        <p-table [value]="maintenanceHistoryList" class="p-datatable-custom">
            <ng-template pTemplate="header">
              <tr>
                <th>No</th>
                <th>Service Date</th>
                <th>Remarks</th>
                <th>File</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-history let-i="rowIndex">
              <tr>
                <td>{{ i + 1 | number: '2.0' }}</td>
                <td>{{ history.actualDoneAt | date: 'dd.MM.yyyy' }}</td>
                <td class="remarks-col text-ellipsis">{{ history.notes }}</td>
                <td>
                  <a [href]="history.serviceReport" download target="_blank" class="view-btn">
                    <i class="pi pi-download"></i> Download
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
          
    </div>
</div>
<p-toast></p-toast>