<div class="asset-form-container">


    <h2>Assets Form</h2>
    <p class="subtitle">The Form to create/edit assets</p>
    <div class="divider-container">
        <hr class="divider" />
    </div>


    <!-- ============================= -->
    <!-- TABS HEADER (PILL STYLE) -->
    <!-- ============================= -->
    <p-tabView [(activeIndex)]="activeTab" class="custom-tabs">

        <!-- ========================================================= -->
        <!-- TAB 1 — PHASE 1 BASIC DETAILS                             -->
        <!-- ========================================================= -->
        <p-tabPanel header="Basic Details">

            <div class="basic-grid">

                <!-- LEFT SIDE -->
                <div class="left-column">

                    <form #basicForm="ngForm">

                        <!-- ASSET NAME -->
                        <p-floatlabel variant="on" class="full-field">
                            <input pInputText name="assetName" [(ngModel)]="asset.assetName" required />
                            <label>Asset Name *</label>
                        </p-floatlabel>

                        <!-- TYPE + CATEGORY -->
                        <div class="two-fields">
                            <p-floatlabel variant="on">
                                <p-select [options]="assetTypes" optionLabel="label" optionValue="value"
                                    name="assetType" [(ngModel)]="asset.assetType" required>
                                </p-select>
                                <label>Asset Type *</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on">
                                <p-select [options]="categories" optionLabel="name" optionValue="id"
                                    name="assetCategoryId" [(ngModel)]="asset.assetCategoryId" required>
                                </p-select>
                                <label>Category *</label>
                            </p-floatlabel>
                        </div>

                        <!-- SERIAL NUMBER -->
                        <p-floatlabel variant="on" class="full-field">
                            <input pInputText name="serialNumber" [(ngModel)]="asset.serialNumber" required />
                            <label>Serial Number *</label>
                        </p-floatlabel>

                        <!-- PROCUREMENT MODE -->
                        <p-floatlabel variant="on" class="full-field">
                            <p-select [options]="procurementModes" optionLabel="label" optionValue="value"
                                name="modeOfProcurement" [(ngModel)]="asset.modeOfProcurement" required>
                            </p-select>
                            <label>Mode of Procurement *</label>
                        </p-floatlabel>


                        <!-- ===================== -->
                        <!-- PURCHASE CONDITIONAL -->
                        <!-- ===================== -->
                        <div *ngIf="asset.modeOfProcurement === 'PURCHASE'" class="conditional-card">

                            <h4>Purchase Details</h4>

                            <div class="two-fields">
                                <p-floatlabel variant="on">
                                    <input pInputText name="invoiceNumber" [(ngModel)]="asset.invoiceNumber" required />
                                    <label>Invoice Number *</label>
                                </p-floatlabel>

                                <p-floatlabel variant="on">
                                    <p-datepicker name="purchaseDate" [(ngModel)]="asset.purchaseDate"
                                        required></p-datepicker>
                                    <label>Purchase Date *</label>
                                </p-floatlabel>
                            </div>

                            <div class="two-fields">
                                <p-floatlabel variant="on">
                                    <input pInputText name="purchaseOrderNo" [(ngModel)]="asset.purchaseOrderNo" />
                                    <label>PO Number</label>
                                </p-floatlabel>

                                <p-floatlabel variant="on">
                                    <p-datepicker name="purchaseOrderDate"
                                        [(ngModel)]="asset.purchaseOrderDate"></p-datepicker>
                                    <label>PO Date</label>
                                </p-floatlabel>
                            </div>

                            <p-floatlabel variant="on" class="full-field">
                                <input pInputText type="number" name="purchaseCost" [(ngModel)]="asset.purchaseCost"
                                    required />
                                <label>Purchase Cost *</label>
                            </p-floatlabel>

                            <!-- Vendor -->
                            <p-floatlabel variant="on" class="full-field">
                                <p-select [options]="vendors" optionLabel="name" optionValue="id"
                                    [(ngModel)]="asset.vendorId" name="vendorId" required></p-select>
                                <label>Vendor *</label>
                            </p-floatlabel>

                            <!-- Warranty -->
                            <!-- <div class="two-fields">
                                <p-floatlabel variant="on">
                                    <p-datepicker [(ngModel)]="asset.warrantyStart" name="warrantyStart"></p-datepicker>
                                    <label>Warranty Start</label>
                                </p-floatlabel>

                                <p-floatlabel variant="on">
                                    <p-datepicker [(ngModel)]="asset.warrantyEnd" name="warrantyEnd"></p-datepicker>
                                    <label>Warranty End</label>
                                </p-floatlabel>
                            </div> -->

                            <!-- AMC details -->
                            <!-- <textarea pInputTextarea rows="2"
                                [(ngModel)]="asset.amcDetails"
                                placeholder="AMC Details" name="amcDetails"></textarea> -->

                        </div>


                        <!-- ===================== -->
                        <!-- DONATION CONDITIONAL -->
                        <!-- ===================== -->
                        <div *ngIf="asset.modeOfProcurement === 'DONATION'" class="conditional-card">

                            <h4>Donation Details</h4>

                            <p-floatlabel variant="on" class="full-field">
                                <input pInputText [(ngModel)]="asset.donorName" name="donorName" required />
                                <label>Donor Name *</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on" class="full-field">
                                <p-datepicker [(ngModel)]="asset.donationDate" name="donationDate"
                                    required></p-datepicker>
                                <label>Donation Date *</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on" class="full-field">
                                <p-select [options]="donationConditions" optionLabel="label" optionValue="value"
                                    [(ngModel)]="asset.assetCondition" name="assetCondition" required></p-select>
                                <label>Condition *</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on" class="full-field">
                                <input pInputText type="number" name="estimatedValue"
                                    [(ngModel)]="asset.estimatedValue" />
                                <label>Estimated Value</label>
                            </p-floatlabel>
                        </div>


                        <!-- ===================== -->
                        <!-- LEASE CONDITIONAL -->
                        <!-- ===================== -->
                        <div *ngIf="asset.modeOfProcurement === 'LEASE'" class="conditional-card">

                            <h4>Lease Details</h4>

                            <p-floatlabel variant="on" class="full-field">
                                <p-select [options]="vendors" optionLabel="name" optionValue="id"
                                    [(ngModel)]="asset.vendorId" name="vendorId" required></p-select>
                                <label>Vendor *</label>
                            </p-floatlabel>

                            <div class="two-fields">
                                <p-floatlabel variant="on">
                                    <p-datepicker [(ngModel)]="asset.leaseStartDate" name="leaseStartDate"
                                        required></p-datepicker>
                                    <label>Start Date *</label>
                                </p-floatlabel>

                                <p-floatlabel variant="on">
                                    <p-datepicker [(ngModel)]="asset.leaseEndDate" name="leaseEndDate"
                                        required></p-datepicker>
                                    <label>End Date *</label>
                                </p-floatlabel>
                            </div>

                            <p-floatlabel variant="on" class="full-field">
                                <input pInputText type="number" name="leaseAmount" [(ngModel)]="asset.leaseAmount" />
                                <label>Lease Amount</label>
                            </p-floatlabel>
                        </div>



                        <!-- ===================== -->
                        <!-- RENTAL CONDITIONAL -->
                        <!-- ===================== -->
                        <div *ngIf="asset.modeOfProcurement === 'RENTAL'" class="conditional-card">

                            <h4>Rental Details</h4>

                            <p-floatlabel variant="on" class="full-field">
                                <p-select [options]="vendors" optionLabel="name" optionValue="id"
                                    [(ngModel)]="asset.vendorId" name="vendorId" required></p-select>
                                <label>Vendor *</label>
                            </p-floatlabel>

                            <div class="two-fields">
                                <p-floatlabel variant="on">
                                    <p-datepicker [(ngModel)]="asset.rentalStartDate" name="rentalStartDate"
                                        required></p-datepicker>
                                    <label>Start Date *</label>
                                </p-floatlabel>

                                <p-floatlabel variant="on">
                                    <p-datepicker [(ngModel)]="asset.rentalEndDate" name="rentalEndDate"
                                        required></p-datepicker>
                                    <label>End Date *</label>
                                </p-floatlabel>
                            </div>

                            <p-floatlabel variant="on">
                                <input pInputText type="number" [(ngModel)]="asset.rentalAmount" name="rentalAmount" />
                                <label>Rent Amount</label>
                            </p-floatlabel>
                        </div>


                        <!-- ============= GRN ============== -->
                        <h3 class="section-title">GRN Details</h3>

                        <div class="two-fields">
                            <p-floatlabel variant="on">
                                <input pInputText [(ngModel)]="asset.grnNumber" name="grnNumber" />
                                <label>GRN Number</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on">
                                <p-datepicker [(ngModel)]="asset.grnDate" name="grnDate"></p-datepicker>
                                <label>GRN Date</label>
                            </p-floatlabel>
                        </div>

                        <p-floatlabel variant="on" class="full-field">
                            <input pInputText type="number" name="grnValue" [(ngModel)]="asset.grnValue" />
                            <label>GRN Value</label>
                        </p-floatlabel>

                        <p-floatlabel variant="on" class="full-field">
                            <p-select [options]="inspectionStatuses" optionLabel="label" optionValue="value"
                                [(ngModel)]="asset.inspectionStatus" name="inspectionStatus" required></p-select>
                            <label>Inspection Status *</label>
                        </p-floatlabel>

                        <textarea pInputTextarea rows="2" [(ngModel)]="asset.inspectionRemarks"
                            placeholder="Inspection Remarks" name="inspectionRemarks"></textarea>

                        <!-- ====================== -->
                        <!-- DEPARTMENT ASSIGNMENT -->
                        <!-- ====================== -->

                        <h3 class="section-title">Department Assignment</h3>

                        <p-floatlabel variant="on" class="full-field">
                            <p-select [options]="departments" optionLabel="name" optionValue="id" name="departmentId"
                                [(ngModel)]="asset.departmentId" required></p-select>
                            <label>Assigned Department *</label>
                        </p-floatlabel>

                        <p-floatlabel variant="on" class="full-field">
                            <p-select [options]="assignmentTypes" optionLabel="label" optionValue="value"
                                name="assignmentType" [(ngModel)]="asset.assignmentType">
                            </p-select>
                            <label>Assignment Type</label>
                        </p-floatlabel>

                    </form>

                </div>

                <!-- ===================== -->
                <!-- RIGHT SIDE (IMAGE) -->
                <!-- ===================== -->
                <div class="right-column">

                    <!-- <div class="photo-wrapper">
                        <img [src]="asset.assetPhoto || 'assets/no-image.png'" class="asset-photo" />

                        <label class="edit-photo">
                            <i class="pi pi-pencil"></i>
                            <input type="file" hidden (change)="handlePhotoUpload($event)" />
                        </label>
                    </div> -->

                    <div class="asset-image">
                        <img [src]=" imagePreviewUrl || asset.assetPhoto || '/placeholder.jpg'" alt="Asset" />
                        <svg xmlns="http://www.w3.org/2000/svg" class="edit-bg" width="100" height="40"
                            viewBox="0 0 100 40" fill="none">
                            <circle cx="50" cy="50" r="49.5" fill="#D9D9D9" stroke="#C3C3C3" />
                        </svg>
                        <svg class="edit-icon" (click)="fileInput.click()" xmlns="http://www.w3.org/2000/svg"
                            width="2em" height="2em" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M17.71 4.0425C18.1 3.6525 18.1 3.0025 17.71 2.6325L15.37 0.2925C15 -0.0975 14.35 -0.0975 13.96 0.2925L12.12 2.1225L15.87 5.8725M0 14.2525V18.0025H3.75L14.81 6.9325L11.06 3.1825L0 14.2525Z"
                                fill="#2C64BB" />
                        </svg>
                        <input type="file" #fileInput accept="image/*" style="display: none;"
                            (change)="onFileSelected($event)" />
                    </div>


                    <button pButton label="Save" class="save-btn" (click)="saveBasicDetails(basicForm)"></button>
                    <button label="Clear" class="clear-btn" (click)="clearForm()">Clear</button>

                </div>

            </div>

        </p-tabPanel>


        <!-- ========================================================= -->
        <!-- TAB 2 — PROCUREMENT / FINANCIAL -->
        <!-- ========================================================= -->
        <!-- <p-tabPanel header="Procurement & Financial">
            <div class="tab-section">
                <h3>Procurement Updates</h3>
+
                <button pButton label="Update Procurement" (click)="saveProcurement()"></button>
            </div>
        </p-tabPanel> -->

<!-- TAB – ASSIGNMENT & OWNERSHIP -->
<p-tabPanel header="Assignment">

    <div class="tab-section">
  
      <h3 class="section-title">Department & Supervisor</h3>
  
      <!-- DEPARTMENT -->
      <p-floatlabel variant="on" class="full-field">
        <p-select
          [options]="departments"
          optionLabel="name"
          optionValue="id"
          name="departmentId"
          [(ngModel)]="asset.departmentId">
        </p-select>
        <label>Department *</label>
      </p-floatlabel>
  
      <!-- SUPERVISOR -->
      <p-floatlabel variant="on" class="full-field">
        <p-select
          [options]="employees"
          optionLabel="name"
          optionValue="id"
          name="supervisorId"
          [(ngModel)]="asset.supervisorId">
        </p-select>
        <label>Supervisor *</label>
      </p-floatlabel>
  
      <h3 class="section-title" style="margin-top:20px">End User Allocation</h3>
  
      <!-- END USER -->
      <p-floatlabel variant="on" class="full-field">
        <p-select
        [options]="employees"
        optionLabel="name"
        optionValue="id"
        name="allottedToId"
        [(ngModel)]="asset.allottedToId"
        [disabled]="!asset.supervisorId">
      </p-select>
      
        <label>End User</label>
      </p-floatlabel>
  
      <button
        pButton
        label="Save Assignment"
        style="margin-top: 15px"
        (click)="saveAssignment()">
      </button>
  
    </div>
  
  </p-tabPanel>
  
        <!-- TAB 3 – DEPRECIATION -->
        <p-tabPanel header="Depreciation">

            <div class="tab-section">

                <h3 class="section-title">Depreciation Setup</h3>

                <div class="two-fields">
                    <p-floatlabel variant="on">
                        <p-select [options]="depreciationMethods" optionLabel="label" optionValue="value"
                            name="depreciationMethods" [(ngModel)]="asset.depreciationMethod"></p-select>
                        <label>Method *</label>
                    </p-floatlabel>

                    <p-floatlabel variant="on">
                        <input type="number" name="depreciationRate" pInputText [(ngModel)]="asset.depreciationRate" />
                        <label>Rate (%) *</label>
                    </p-floatlabel>
                </div>

                <div class="two-fields">
                    <p-floatlabel variant="on">
                        <input type="number" pInputText name="expectedLifeYears"
                            [(ngModel)]="asset.expectedLifeYears" />
                        <label>Expected Life (Years) *</label>
                    </p-floatlabel>

                    <p-floatlabel variant="on">
                        <p-datepicker [(ngModel)]="asset.depreciationStartDate"
                            name="depreciationStartDate"></p-datepicker>
                        <label>Depreciation Start Date</label>
                    </p-floatlabel>
                </div>

                <p-floatlabel variant="on">
                    <input type="number" pInputText [(ngModel)]="asset.salvageValue" name="salvageValue" />
                    <label>Salvage Value</label>
                </p-floatlabel>

                <button pButton label="Save Depreciation" style="margin-top: 10px;"
                    (click)="saveDepreciation()"></button>

            </div>

        </p-tabPanel>


        <!-- TAB 4 – INSURANCE -->
        <p-tabPanel header="Insurance Info">

            <div class="tab-section">

                <h3 class="section-title">Insurance Details</h3>

                <p-floatlabel variant="on" class="full-field">
                    <input pInputText [(ngModel)]="asset.insuranceProvider" name="insuranceProvider" />
                    <label>Provider</label>
                </p-floatlabel>

                <div class="two-fields">
                    <p-floatlabel variant="on">
                        <input pInputText [(ngModel)]="asset.policyNumber" name="policyNumber" />
                        <label>Policy Number</label>
                    </p-floatlabel>

                    <p-floatlabel variant="on">
                        <input pInputText type="number" [(ngModel)]="asset.coverageAmount" name="coverageAmount" />
                        <label>Coverage Amount</label>
                    </p-floatlabel>
                </div>

                <div class="two-fields">
                    <p-floatlabel variant="on" class="">
                        <p-datepicker [(ngModel)]="asset.insuranceStartDate" name="insuranceStartDate"></p-datepicker>
                        <label>Insurance Start Date</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on" class="">
                        <p-datepicker [(ngModel)]="asset.insuranceEndDate" name="insuranceEndDate"></p-datepicker>
                        <label>Insurance End Date</label>
                    </p-floatlabel>
                </div>

                <textarea pInputTextarea rows="3" [(ngModel)]="asset.notes" name="notes"></textarea>

                <button pButton label="Save Insurance" (click)="saveInsurance()"></button>

            </div>

        </p-tabPanel>

        <p-tabPanel header="Warranty & AMC">

            <ng-container *ngIf="asset.id; else saveAssetFirst">
              <app-warranty-form
                [assetId]="asset.assetId"
                [assetDetails]="asset">
              </app-warranty-form>
            </ng-container>
          
            <ng-template #saveAssetFirst>
              <p class="warning-text">
                Please save basic asset details before adding warranty.
              </p>
            </ng-template>
          
          </p-tabPanel>
          


        <!-- TAB 5 – SLA -->
        <p-tabPanel header="SLA & Lifetime">

            <div class="tab-section">

                <h3 class="section-title">SLA Config</h3>

                <div class="two-fields">
                    <p-floatlabel variant="on">
                        <input type="number" pInputText [(ngModel)]="asset.slaExpectedValue" name="slaExpectedValue" />
                        <label>SLA Value</label>
                    </p-floatlabel>

                    <p-floatlabel variant="on">
                        <p-select [options]="slaUnits" optionLabel="label" optionValue="value" name="slaExpectedUnit"
                            [(ngModel)]="asset.slaExpectedUnit"></p-select>
                        <label>SLA Unit</label>
                    </p-floatlabel>
                </div>

                <h3>Lifetime</h3>

                <div class="two-fields">
                    <p-floatlabel variant="on">
                        <input type="number" pInputText name="expectedLifetime" [(ngModel)]="asset.expectedLifetime" />
                        <label>Lifetime</label>
                    </p-floatlabel>

                    <p-floatlabel variant="on">
                        <p-select [options]="slaUnits" optionLabel="label" optionValue="value"
                            name="expectedLifetimeUnit" [(ngModel)]="asset.expectedLifetimeUnit"></p-select>
                        <label>Lifetime Unit</label>
                    </p-floatlabel>
                </div>

                <!-- <p-floatlabel variant="on" class="full-field">
                    <textarea pInputTextarea rows="2"
                    [(ngModel)]="asset.slaDetails"
                    name="slaDetails"
                    placeholder="SLA Notes"></textarea>
                    <label>SLA Details</label>
                </p-floatlabel> -->


                <button pButton label="Save SLA" (click)="saveSLA()" style="margin-top: 20px;"></button>

            </div>

        </p-tabPanel>


        <!-- TAB 6 – LOCATION & ALLOCATION -->
        <p-tabPanel header="Location">

            <div class="tab-section">

                <h3 class="section-title">Asset Location</h3>

                <div class="two-fields">
                    <p-floatlabel variant="on">
                        <p-select [options]="branches" optionLabel="name" optionValue="id" name="branchId"
                            [(ngModel)]="asset.branchId"></p-select>
                        <label>Branch *</label>
                    </p-floatlabel>

                    <p-floatlabel variant="on">
                        <input pInputText name="block" [(ngModel)]="asset.block" />
                        <label>Block</label>
                    </p-floatlabel>
                </div>

                <div class="two-fields">
                    <p-floatlabel variant="on">
                        <input pInputText name="floor" [(ngModel)]="asset.floor" />
                        <label>Floor</label>
                    </p-floatlabel>

                    <p-floatlabel variant="on">
                        <input pInputText name="room" [(ngModel)]="asset.room" />
                        <label>Room</label>
                    </p-floatlabel>
                </div>

                <p-floatlabel variant="on" class="full-field">
                    <p-select [options]="employees" optionLabel="name" optionValue="id" name="employeeResponsibleId"
                        [(ngModel)]="asset.employeeResponsibleId"></p-select>
                    <label>Employee Responsible</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="full-field">
                    <input pInputText [(ngModel)]="asset.rfidCode" name="rfidCode" />
                    <label>RFID</label>
                </p-floatlabel>

                <button pButton label="Update Location" (click)="saveLocation()"></button>

                <!-- LOCATION HISTORY -->
                <h3>Location History</h3>
                <p-table [value]="locationHistory">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Branch</th>
                            <th>Block</th>
                            <th>Floor</th>
                            <th>Room</th>
                            <th>Date</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>{{ row.branch?.name }}</td>
                            <td>{{ row.block }}</td>
                            <td>{{ row.floor }}</td>
                            <td>{{ row.room }}</td>
                            <td>{{ row.createdAt | date }}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>

        </p-tabPanel>


        <!-- TAB 7 – TRANSFER -->
        <p-tabPanel header="Transfer">

            <div class="tab-section">
                <button pButton label="Transfer Asset" icon="pi pi-send" (click)="showTransferModal = true"></button>

                <h3 class="section-title">Transfer History</h3>

                <p-table [value]="transferHistory">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Type</th>
                            <th>Expires</th>
                            <th>Approved By</th>
                            <th>Date</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>{{ row.fromBranch?.name || '-' }}</td>
                            <td>{{ row.toBranch?.name }}</td>
                            <td>{{ row.temporary ? 'Temporary' : 'Permanent' }}</td>
                            <td>{{ row.expiresAt | date }}</td>
                            <td>{{ row.approvedBy }}</td>
                            <td>{{ row.transferDate | date }}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>

        </p-tabPanel>

    </p-tabView>


    <!-- =============================== -->
    <!-- TRANSFER MODAL -->
    <!-- =============================== -->
    <p-dialog header="Transfer Asset" [(visible)]="showTransferModal" modal="true" [style]="{width: '500px'}"
        [modal]="true" styleClass="transfer-modal">

        <div class="modal-body">

            <p-floatlabel variant="on" class="full-field">
                <p-select [options]="[
                {label:'Internal', value:'INTERNAL'},
                {label:'External', value:'EXTERNAL'}
              ]" [(ngModel)]="transfer.transferType">
                </p-select>
            </p-floatlabel>
            <div *ngIf="transfer.transferType === 'INTERNAL'">
                <p-floatlabel variant="on" class="full-field">
                    <input pInputText placeholder="Block" [(ngModel)]="transfer.block" />
                </p-floatlabel>
                <p-floatlabel variant="on" class="full-field">
                    <input pInputText placeholder="Floor" [(ngModel)]="transfer.floor" />
                </p-floatlabel>
                <p-floatlabel variant="on" class="full-field">
                    <input pInputText placeholder="Room" [(ngModel)]="transfer.room" />
                </p-floatlabel>

            </div>


            <div *ngIf="transfer.transferType === 'EXTERNAL'">
                <p-floatlabel variant="on" class="full-field">
                    <p-select [options]="[
        {label:'Branch', value:'BRANCH'},
        {label:'Service', value:'SERVICE'},
        {label:'Dead / Scrap', value:'DEAD'}
      ]" [(ngModel)]="transfer.externalType">
                    </p-select>
                </p-floatlabel>
                <p-floatlabel variant="on" class="full-field">
                    <p-select *ngIf="transfer.externalType === 'BRANCH'" [options]="branches" optionLabel="name"
                        optionValue="id" [(ngModel)]="transfer.toBranchId">
                    </p-select>
                </p-floatlabel>

            </div>
            <div *ngIf="(transfer.transferType === 'EXTERNAL' && transfer.externalType === 'BRANCH')">
                <p-floatlabel variant="on" class="full-field">
                    <input pInputText placeholder="Block" [(ngModel)]="transfer.block" />
                </p-floatlabel>
                <p-floatlabel variant="on" class="full-field">
                    <input pInputText placeholder="Floor" [(ngModel)]="transfer.floor" />
                </p-floatlabel>
                <p-floatlabel variant="on" class="full-field">
                    <input pInputText placeholder="Room" [(ngModel)]="transfer.room" />
                </p-floatlabel>

            </div>

            <div class="checkbox-row">
                <p-checkbox binary="true" inputId="temp" [(ngModel)]="transfer.temporary">
                </p-checkbox>
                <label class="p-checkbox-label" for="temp">Temporary</label>
            </div>



            <div class="expires-container" *ngIf="transfer.temporary">
                <p-floatlabel variant="on" class="full-field">
                    <p-datepicker name="expiresAt" [(ngModel)]="transfer.expiresAt" appendTo="body">
                    </p-datepicker>
                    <label>Expires At</label>
                </p-floatlabel>
            </div>

            <p-floatlabel variant="on" class="full-field" style="margin-top: 10px">
                <p-select [options]="employees" optionLabel="name" optionValue="employeeID" name="approvedBy"
                    [(ngModel)]="transfer.approvedBy" placeholder="Select Approver">
                </p-select>
                <label>Approved By</label>
            </p-floatlabel>


            <div class="btn-row">
                <button pButton label="Transfer" class="green-btn success" (click)="submitTransfer()"></button>
                <button pButton label="Cancel" class="red-btn danger" (click)="showTransferModal = false"></button>
            </div>

        </div>

    </p-dialog>


</div>