<div class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">
    <div class="sidebar-top">
        <div class="logo-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <rect width="36" height="36" rx="8" fill="#2C64BB" />
                <path
                    d="M6.10423 17.8052C5.62418 16.3074 6.98111 14.8672 8.50481 15.2573L20.1073 18.2276C20.8122 18.408 21.3634 18.957 21.5468 19.6611L23.6895 27.8893C24.0628 29.323 22.8022 30.6508 21.351 30.3523L10.4781 28.1155C9.77082 27.97 9.1969 27.4546 8.97652 26.767L6.10423 17.8052Z"
                    fill="white" />
                <path
                    d="M26.6074 8.868C27.3122 9.04844 27.8634 9.5974 28.0467 10.3015L30.1894 18.5291C30.5628 19.9628 29.3021 21.2906 27.8509 20.9921L24.6789 20.3394C23.939 20.1871 23.348 19.631 23.1511 18.9018L23.0744 18.6176C22.8848 17.9155 22.329 17.3716 21.6229 17.1973L15.9599 15.7992C15.286 15.6329 14.7466 15.1289 14.5347 14.4679L12.6047 8.44546C12.1247 6.94767 13.4816 5.50748 15.0053 5.89758L26.6074 8.868Z"
                    fill="white" />
            </svg>
            <span class="logo-text" *ngIf="!isCollapsed">SMART ASSETS</span>
        </div>

        <div class="menu-toggle-row" [ngClass]="{ 'collapsed': isCollapsed }">
            <span class="menu-label" *ngIf="!isCollapsed">MENU</span>
            <div (click)="toggleCollapse()" [ngClass]="{ 'collapsed': isCollapsed }" class="collapse-btn"
                [ngClass]="{ 'rotated': isCollapsed }" pTooltip="Toggle Sidebar" tooltipPosition="left">
                <i class="pi pi-angle-double-left"></i>
            </div>
        </div>
    </div>

    <!-- Menu -->
    <div class="menu-section">
        <ng-container *ngFor="let item of menuItems">
            <button class="menu-btn" [ngClass]="{ 'active-menu': activeMenu === item.label || isActiveMainRoute(item.path || '') }"
                (click)="activeMenu = item.label" (click)="navigate(item)">
                <i [class]="item.icon"></i>
                <span class="label" *ngIf="!isCollapsed">{{ item.label }}</span>
                <i *ngIf="!isCollapsed && item.hasDropdown"
                class="pi pi-chevron-down"
                [ngClass]="{'rotated': activeMenu === item.label}"
                style="margin-left:auto;"
                (click)="toggleDropdown(item, $event)">
             </i>
            </button>
            <div class="dropdown" [ngClass]="{'open': activeMenu === item.label && item.hasDropdown}">
                <button *ngFor="let sub of item.dropdownItems"
                        class="dropdown-item"
                        [ngClass]="{ 'active-submenu': isActiveRoute(sub.route) }"
                        (click)="navigate(sub)">
                  <span class="dot" [ngClass]="{'active': isActiveRoute(sub.route) }"></span>
                  {{ sub.label }}
                </button>
              </div>
              

        </ng-container>
    </div>

    <hr class="menu-separator" />

    <!-- Bottom: Theme & User -->
    <div class="bottom-section">
        <div class="footer-links">
            <button class="menu-btn">
                <i class="pi pi-cog"></i>
                <span class="label" *ngIf="!isCollapsed">Settings</span>
            </button>
            <button class="menu-btn">
                <i class="pi pi-file"></i>
                <span class="label" *ngIf="!isCollapsed">Report</span>
            </button>
            <button class="menu-btn">
                <i class="pi pi-question-circle"></i>
                <span class="label" *ngIf="!isCollapsed">Support</span>
            </button>
        </div>
        <div class="theme-toggle-wrapper" [ngClass]="{ collapsed: isCollapsed }">
            <input type="checkbox" id="darkModeToggle" class="toggleCheckbox" [(ngModel)]="isDarkMode"
                (change)="toggleDarkMode()" />

            <label for="darkModeToggle" class="toggleContainer">
                <div class="toggle-btn"><i class="pi pi-sun"></i><span>Light</span></div>
                <div class="toggle-btn"><i class="pi pi-moon"></i><span>Dark</span></div>
            </label>
        </div>


        <hr class="menu-separator-1" />

        <div class="user-info" [ngClass]="{ collapsed: isCollapsed }">
            <img src="/dm-logo.svg" alt="DocMinds Logo" class="user-logo" />
            <div class="user-details" *ngIf="!isCollapsed">
                <div class="user-name">DocMinds</div>
                <div class="user-email">Docminds&#64;gmail.com</div>
            </div>
        </div>

    </div>
</div>